.action_btn_wrapper{
  margin-top: 40px;
  text-align: center;
}
.action_btns{
    background: linear-gradient(180deg, rgb(151, 225, 205), rgb(151, 225, 205));
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    font-family: sans-serif;
    padding: 4px 10px;
    width: 150px;
    border-radius: 5px;
    border-bottom: 3px solid rgb(94, 163, 145);
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}